{% extends "base.html" %}
{% block title %}Calculadora IMC{% endblock %}
{% block content %}
<div class="card p-4">
  <h4>Calculadora IMC</h4>
  <form method="post">
    <div class="mb-3">
      <label>Peso (kg)</label>
      <input name="peso" class="form-control" value="{{ peso or '' }}">
    </div>
    <div class="mb-3">
      <label>Altura (cm)</label>
      <input name="altura" class="form-control" value="{{ altura or '' }}">
    </div>
    <button class="btn btn-success" type="submit">Calcular</button>
  </form>

  {% if imc is not none %}
    <hr>
    <h5>IMC: {{ '%.2f'|format(imc) }}</h5>
  {% endif %}
</div>
{% endblock %}