{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center mb-5">
  <h1 class="display-4 fw-bold ">INICIO</h1>
  <p class="lead text-secondary">Panel principal</p>
</div>

<hr class="border-danger mb-5">

{% if session.get('logueado') %}
  <h3 class="text-danger mb-3">Herramientas</h3>
  <div class="row g-3">
    <div class="col-md-6 col-lg-4">
      <div class="card p-3 ">
        <h5>Índice de Masa Corporal (IMC)</h5>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card p-3 ">
        <h5>Tasa Metabólica Basal (TMB)</h5>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card p-3">
        <h5>Gasto Calórico Total (GCT / TDEE)</h5>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card p-3">
        <h5>Peso Corporal Ideal</h5>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card p-3">
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card p-3 gothic-card">
        <h5>Analizador de recetas</h5>
      </div>
    </div>
  </div>
{% else %}
  <div class="alert alert-info">Inicia sesión o crea una cuenta para ver las herramientas personalizadas.</div>
{% endif %}

<hr class="border-danger mt-5">

<div class="text-center mt-5">
</div>
{% endblock %}
