{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="text-center mb-4">
    <h1 class="fw-bold text-success">Panel Principal</h1>
    <p class="text-secondary">Bienvenido al sistema nutricional CALBORNE</p>
</div>

<hr class="border-success mb-5">
<div class="row g-4">

    {% if session.get('logueado') %}

    <div class="col-md-4">
        <a href="{{ url_for('perfil') }}" class="text-decoration-none">
            <div class="card h-100 p-4 text-center">
                <i class="bi bi-person-circle display-4 text-success mb-3"></i>
                <h4 class="fw-bold">Mi Perfil</h4>
                <p class="text-secondary">Ver y actualizar información personal</p>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{{ url_for('calculadora_IMC') }}" class="text-decoration-none">
            <div class="card h-100 p-4 text-center">
                <i class="bi bi-calculator-fill display-4 text-success mb-3"></i>
                <h4 class="fw-bold">Calculadoras</h4>
                <p class="text-secondary">IMC, TMB, GCT, Peso ideal y más</p>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{{url_for('articulos')}}" class="text-decoration-none">
            <div class="card h-100 p-4 text-center">
                <i class="bi bi-journal-bookmark-fill display-4 text-success mb-3"></i>
                <h4 class="fw-bold">Guias</h4>
                <p class="text-secondary">Próximamente: recetas, consejos y guías</p>
            </div>
        </a>
    </div>
    

    {% else %}

    
    <div class="col-md-6  ">
        <a href="{{ url_for('calculadora_IMC') }}" class="text-decoration-none">
            <div class="card h-100 p-4 text-center">
                <i class="bi bi-calculator-fill display-4 text-success mb-3"></i>
                <h4 class="fw-bold">Calculadoras</h4>
                <p class="text-secondary">IMC, TMB, GCT, Peso ideal y más</p>
            </div>
        </a>
    </div>

    <div class="col-md-6  ">
        <a href="{{url_for('articulos')}}" class="text-decoration-none">
            <div class="card h-100 p-4 text-center">
                <i class="bi bi-journal-bookmark-fill display-4 text-success mb-3"></i>
                <h4 class="fw-bold">Guias</h4>
                <p class="text-secondary"> recetas, consejos y guías</p>
            </div>
        </a>
    </div>

    {% endif %}

</div>

{% endblock %}
